openapi: 3.0.0
info:
  title: Cardexscan APIs
  description: >-
    API Documentation for CDS Public. MIT Licensed. Subjected to personal use. NOT FOR
    COMMERCIAL.
  version: 1.0.1
servers:
  - url: https://cardexscan.com
components:
  securitySchemes:
    noauthAuth:
      type: http
      scheme: noauth
paths:
  /api/cds/swap/aggregate:
    post:
      tags:
        - API Endpoints
      summary: Get Aggregated Swaps Data
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Stringified JSON object
              example: {"tokenInAmount":100,"tokenIn":"lovelace","tokenOut":{"policyId":"4128947ee2e2e983c8710d6ddeb1f90ad8f3b843650d13045f13b9e9","nameHex":"4361726465787363616e","decimals":0,"verified":true,"ticker":"CDS"},"blacklisted_dexes":["CERRA","GENIUS","TEDDYSWAP","SPECTRUM"]}
      security:
        - noauthAuth: []
      parameters:
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: x-api-key
          in: header
          schema:
            type: string
          example: 7c6095cf2eeeac500667241439ab5c3eac2488b9962526ca7f543d76b56a7b2
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/cds/swap/cbor/build:
    post:
      tags:
        - API Endpoints
      summary: Get Aggregated Swap Unsigned Tx CBOR
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Stringified JSON object
              example: {"tokenInAmount":100,"tokenIn":"lovelace","tokenOut":{"policyId":"4128947ee2e2e983c8710d6ddeb1f90ad8f3b843650d13045f13b9e9","nameHex":"4361726465787363616e","decimals":0,"verified":true,"ticker":"CDS"},"blacklisted_dexes":["CERRA","GENIUS","TEDDYSWAP","SPECTRUM"]}
      parameters:
        - name: content-type
          in: header
          schema:
            type: string
          example: application/json
        - name: x-api-key
          in: header
          schema:
            type: string
          example: 7c6095cf2eeeac500667241439ab5c3eac2488b9962526ca7f543d76b56a7b2
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/orders:
    get:
      tags:
        - API Endpoints
      summary: Get Order History
      description: "Get all historical trades"
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: 7c6095cf2eeeac500667241439ab5c3eac2488b9962526ca7f543d76b56a7b2
        - name: address
          in: query
          schema:
            type: string
          example: >-
            addr1q8yx3zhvwv7ehxx9ma5f0h49wc2k56ptswamvzxduv875fn7vxlum3yvsmsjjvlghntrc3m0nrhw7jqk0hfa9ggzgq7qdrw6uq
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/token/trades/all:
    get:
      tags:
        - API Endpoints
      summary: Get All Token Trades
      description: "Get all token trades"
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: 7c6095cf2eeeac500667241439ab5c3eac2488b9962526ca7f543d76b56a7b2
        - name: timeframe
          in: query
          schema:
            type: string
          example: 15 mins
        - name: limit
          in: query
          schema:
            type: integer
          example: '10'
        - name: order
          in: query
          schema:
            type: string
          example: asc
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
